h1 {
  color: maroon;
}

.post {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  padding-inline: 20px;
  background-color: blanchedalmond;
}

.user {
  font-weight: bold;
  font-style: italic;
  color: blue;
}
